/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@keyframes flashRed {
  0% {
    background-color: transparent;
  }
  10% {
    background-color: rgba(255, 0, 0, 0.6);
  }
  90% {
    background-color: rgba(255, 0, 0, 0.6);
  }
  100% {
    background-color: transparent;
  }
}

.flash-red {
  animation: flashRed 20s ease-in-out;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.game-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1050px;

  padding: 50px;

  border-radius: 25px;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.panel-section {
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.player-panel {
  flex: 1;
  text-align: center;
  font-size: 20px;
}

.player-stuff {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 70px 0;
  gap: 85px;
}

.player-panel.active {
  transform: scale(1.4);
  transition: all 0.2s ease-in-out;
  z-index: 99;
}
/*
.player-0-panel.player-panel.active {
  box-shadow: 0px 0px 20px 0px red;
}

.player-1-panel.player-panel.active {
  box-shadow: 0px 0px 20px 0px blue;
}
*/
.dice-wrap.active {
  transform: scale(1.3);
  z-index: 99;
}

.dice-wrap-0.active {
  box-shadow: 0px 0px 20px 0px #eb4d4d;
}

.dice-wrap-1.active {
  box-shadow: 0px 0px 20px 0px #567cfc;
}

.dice-wrap {
  position: relative;
  display: inline-block;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;
}

.message-container {
  margin-bottom: 20px;
  border: 1px solid #a6a6a6;
  padding: 20px 49px;
  z-index: 99;
}

.message-container img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: -5px;
}

.dice-wrap img {
  border-radius: 40px;
}

.dice-wrap.inactive::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  filter: blur(4px);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  border-radius: 40px;
}

.dice-wrap.active::before {
  background-color: initial;
}

.dice-wrap.inactive img {
  filter: blur(4px);
}

.btn-roll,
.btn-hold,
.btn-new {
  padding: 20px;
  font-size: 20px;
  color: #fff;
  border: none;
  width: 160px;

  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn-roll:hover,
.btn-hold:hover,
.btn-new:hover {
  transform: scale(1.1);
}

.btn-new {
  background-color: #2dc52d;
}

.btn-roll.player1-color,
.btn-hold.player1-color {
  background-color: #eb4d4d;
}

.btn-roll.player2-color,
.btn-hold.player2-color {
  background-color: #567cfc;
}

.play-buttons-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.points-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.final-score {
  padding: 20px;
  width: 160px;
  position: relative;
}

input:disabled {
  background-color: rgba(0, 0, 0, 0.35);
  filter: blur(4px);
}

#name-1,
#current-1,
#score-1 {
  color: #567cfc;
}

#name-0,
#current-0,
#score-0 {
  color: #eb4d4d;
}

.btn-roll:disabled,
.btn-hold:disabled {
  filter: blur(4px);
  cursor: initial;
  background-color: rgba(0, 0, 0, 0.35);
}

.btn-roll:disabled:hover,
.btn-hold:disabled:hover {
  transform: none;
}

.message {
  font-size: 38px;
}

#score-1,
#score-0 {
  font-size: 30px;
  font-weight: bold;
}

.score-message {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

.red {
  color: #eb4d4d;
}

.blue {
  color: #567cfc;
}

.green {
  color: #2dc52d;
  font-weight: bold;
  font-size: 38px;
}

.score-message span {
  font-weight: bold;
  color: #2dc52d;
}

.sound-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.btn-mute {
  border: none;
  background: transparent;
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 1px solid #2dc52d;
}

.btn-mute.muted {
  border: 1px solid #eb4d4d;
}

.btn-mute:hover {
  transform: scale(1.1);
}

@media (max-width: 1052px) {
  .game-area {
    width: 100%;
  }
  .message {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
  }
}

@media (max-width: 552px) {
  .player-stuff {
    gap: 15px;
  }
}
